@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {

}




body {
font-family: "Lexend Deca"}

.badge-spin {
  animation: spin 5s linear infinite;

}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lexend {
  font-family: "Lexend Deca"
}

.instagram-footer-banner {
  left: calc(50% - 64px)
}
.de-border {
  border: 1px solid black
}
.bg-red {
  background-color: #EF354C;
}

.bg-yellow {
  background-color: #FFDC4A;
}

.white {
  color: #fff;
}

/* .content p {
  @apply my-6;
} */

.content ul {
  @apply my-6;
}

.center-all {
  justify-content: center;
  align-items: center;
}
